<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DDAT Scoring</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <hr>
      <div class="columns">
        <div class="column">
          <p class="subtitle has-text-centered is-size-2">DDaT Performance Review</p>
        </div>
      </div> 
      <hr>

      <div class="columns">

        <div class="column is-one-third">
        </div>

        <div class="column is-one-third">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
        <p>Enter a Document ID.<br><br>A document will be loaded if it exists or a new one created. Anyone who knows your Document ID can view and edit - so take care when sharing.<br><br>A good way to choose a new Document ID is to choose three random words, for example 'redplutobeans'.</p>
        </div>
      </div>
<form method="post" action="">
      <div class="content">

        <div class="field">
          <label class="label">Document ID</label>
          <div class="control">
            <input class="input" name="docid" type="text" placeholder="" value="">
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <button class="button">
            Submit
          </button>
        </p>
      </div>
</form>
    </div>
  </div>
        </div>

        <div class="column is-one-third">
        </div>

      </div>

</div>

    </div>
  </section>
  </body>
</html>

